# [call-tree]
CALI_SERVICES_ENABLE=aggregate,event,report,timestamp
CALI_AGGREGATE_KEY=function,loop
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_REPORT_CONFIG="select sum#time.duration format tree"

# [load-samples-knl]
CALI_LIBPFM_EVENTS=MEM_UOPS_RETIRED:L2_MISS_LOADS
CALI_LIBPFM_SAMPLE_PERIOD=40000
CALI_LIBPFM_PRECISE_IP=2
CALI_LIBPFM_SAMPLE_ATTRIBUTES=time,tid,cpu,addr,weight,data_src
CALI_RECORDER_FILENAME=load_samples.cali
CALI_ALLOC_RESOLVE_ADDRESSES=true
CALI_REPORT_CONFIG="SELECT *,sum(libpfm.weight),count() GROUP BY function,annotation,alloc.label#libpfm.addr FORMAT TABLE ORDER BY count DESC"
CALI_SERVICES_ENABLE=libpfm:pthread:recorder:trace:symbollookup:callpath:alloc:instlookup:report

# [load-counts-knl]
CALI_LIBPFM_EVENTS=MEM_UOPS_RETIRED:ALL_LOADS,MEM_UOPS_RETIRED:L2_MISS_LOADS
CALI_LIBPFM_ENABLE_SAMPLING=false
CALI_LIBPFM_RECORD_COUNTERS=true
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_INCLUSIVE_DURATION=true
CALI_RECORDER_FILENAME=load_counts.cali
CALI_REPORT_CONFIG="SELECT *,sum(time.duration),sum(libpfm.counter.MEM_UOPS_RETIRED:ALL_LOADS),sum(libpfm.counter.MEM_UOPS_RETIRED:L2_MISS_LOADS) GROUP BY annotation FORMAT TABLE"
CALI_SERVICES_ENABLE=libpfm:pthread:recorder:event:trace:report:timestamp
